
body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/A_black_background.jpg/640px-A_black_background.jpg");
}

ul {
  list-style-type: none;
  display: flex;
  margin: 1px;
  padding: 5px;
  overflow: hidden;
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  justify-content: space-between;
  gap: 10px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ac0c0c;
}

.active {
  background-color: rgb(87, 231, 87)214, 206);
}
h1{
background-color: #df2424;
}
.md a:hover{
  background-color: #df2424;
}
.cd{
  margin: 3px;
  padding: 3px;
  
}
.md{
display: flex;
flex-wrap: wrap;
}
.md a:{
  text-align: left;
}
